@model ETicaretWeb.Models.Siparisler

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Siparisler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeslimTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeslimTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisDurumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToplamTutar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToplamTutar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeslimatAdresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeslimatAdresi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Musteri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Musteri.MusteriId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SiparisId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
